/* About section */
#about {
  margin-top: 50px;
}

#about p,
.technologies {
  width: 90%
}

#about p {
  line-height: 1.2em;
  font-size: 16px;
}

.technologies {
  display: grid;
  grid-column-gap: 3px;
  grid-template-columns: 150px 150px;
  grid-template-rows: 20px;
  justify-content: start;
  margin-top: 10px;
  margin-left: 20px;
  height: 50px;
  font-size: 16px;
}

@media only screen and (min-width: 591px) { 
  #about {
    height: 100vh;
  }

  #about p {
    width: 90%
  }

  #about p {
    line-height: 1.5em;
    font-size: 20px;
  }

  .technologies {
    display: grid;
    grid-column-gap: 5px;
    grid-template-columns: 200px 200px;
    grid-template-rows: 30px;
    justify-content: start;
    margin-top: 20px;
    margin-left: 10px;
    height: 100px;
  }
}