#projects {
  img {
    margin: 20px auto 0;
    width: 300px;
    @include box-shadow(0 0 20px rgba(0, 0, 0, 0.5));
  }

  .project {
    text-align: center;
    padding-bottom: 30px;
    border-bottom: 2px solid $project-border;
  }

  .project:last-child {
    border-bottom: none;
  }

  .project img {
    transition: all 1s linear;
  }

  .project-tech li,
  .project-icons li {
    list-style-type: none;
    display: inline-block;
  }

  .project-tech li,
  .project-desc {
    color: black;
    font-size: 16px;
  }

  .project-information {
    margin: 10px auto 0;
    width: 300px;
    background-color: $project-information;
    transition: all 1s linear;
    @include box-shadow(0 0 20px rgba(0, 0, 0, 0.5));
  }

  .project-name {
    padding: 10px;
    background-color: $project-name-background;
    color: $project-name;
  }

  .project-desc {
    margin: 10px 0;
    padding: 10px;
    line-height: 1.5em;
    font-style: italic;
  }

  .project-tech ul,
  .project-icons ul {
    list-style-type: none;
    margin-top: 10px;
    text-align: center;
  }

  .project-icons {
    padding-bottom: 10px
  }

  .project-icons i {
    margin: 0 10px;
  }

  .project-icons i:hover {
    color: $highlight-text-color;
  }
}

@media only screen and (min-width: 601px) {
  #projects {
    .project {
      width: 100%;
      margin: 20px auto;
    }

    img {
      width: 400px;
      height: auto;
      display: inline-block;
      vertical-align: middle;
    }

    img:hover {
      transform: scale(1.2);
      transition: all 1s linear;
      @include box-shadow(0 0 20px rgba(84, 184, 184, 0.75));
    }

    .project-information {
      margin-left: 40px;
      display: inline-block;
      vertical-align: middle;
    }

    .project-information:hover {
      transform: scale(1.2);
      transition: all 1s linear;
      @include box-shadow(0 0 20px rgba(84, 184, 184, 0.75));
    }

    .project-desc {
      padding: 15px;
    }
  }
}
