$main-background-color: #ffffff;
$main-text-color: #225151;
$secondary-text-color: #388087;
$highlight-text-color: #873887;
$highlight-background-color: #c2edce;
$navbar-background-color: #ffffff;
$project-border: #54b8b8;
$project-information: #54b8b8;
$project-name-background: #873887;
$project-name: #ffffff;